*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* --------------- header and navbar style-----------------  */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 40px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 44px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.t-primary{
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 16px 35px;
    margin-right: 20px;
}
.btn-secondary{
    border: 1px solid #FD6E0A;
    font-size: 18px;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: 600;
    padding: 16px 35px;
    background: transparent;
}
.banner{
    margin: 0 80px 0 200px;
    display: flex;
    align-items: center;
}
.banner-content h3{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
}
.banner-content h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    line-height: 116px;
}
.banner-content p{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-content{
    width: 55%;
}
/* --------------- main part about  style-----------------  */
.title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    margin-bottom: 20px;
}
main{
    max-width: 1140px;
    margin: auto;
}
.about{
    padding: 100px 150px;
    text-align: center;
    background: #FFF8F3;
    margin: 100px 0;
    border-radius: 10px;
}
.about-content p{ 
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575; 
    margin-bottom: 35px;   
}
.about .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .row h4{
    color: #757575;
}
.about .row h3{
    color: #474747;
}


/* --------------- what do part about  style-----------------  */
.what-do{
    padding-bottom: 100px;
}
.what-do .description{
    text-align: center;
    padding: 0 100px;
    margin: 30px auto;
}
.what-do .row{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.what-do .row .box{
    margin: 0 18px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 30px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 30px -9px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 30px -9px rgba(0,0,0,0.7);
    border-radius: 10px ;
}
.what-do .row .box img{
    width: 50px;
    margin: 18px 0;
}
.what-do .row .box h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-bottom: 10px;
}
.what-do .row .box p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}