*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* --------------- header and navbar style-----------------  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 44px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.t-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 16px 35px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-content h3{
    color: #474747;
    font-weight: 600;
    font-size: 45px
}
.banner-content h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    line-height: 116px;
}
.banner-content p{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}


